<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" media="screen" href="{$basePath}/assets/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" media="screen" href="{$basePath}/css/style.css">
	<title>{ifset title}{include title|stripHtml} | {/ifset}Nette Web</title>
</head>

<body>
	<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
	<div class="main">
		{include content}
	</div>
	{block scripts}
	<script type="text/javascript" src="{$basePath}/js/jquery1.11.1.js"></script>
	<script type="text/javascript" src="{$basePath}/assets/netteForms.js"></script>
	<script type="text/javascript" src="{$basePath}/assets/nette.ajax/nette.ajax.js"></script>
	<script type="text/javascript" src="{$basePath}/js/initajax.js"></script>
	<script type="text/javascript" src="{$basePath}/js/jquery.count.js"></script>
	{/block}
</body>
</html>
