{block content}
{if $user->loggedIn}
    <h1>Administration</h1>
    <div class="alert alert-success">
        <strong>User:</strong> {$user->getIdentity()->username}, <a n:href="Sign:out">Sign out</a>
    </div>
    {snippet flashesAdmin}
        {foreach $flashes as $flash}
            <div class="flash alert alert-danger {$flash->type}">{$flash->message}</div>
        {/foreach}
    {/snippet}
    {control menuadmin}
    <h2 n:block=title>Events</h2>
		<a n:href="Event:default proc=>3"><button class="btn-sm btn-success">ad event</button></a>
		<div class="spacer"></div>
		{if $proc === 1}
				<table class="formAdmin">
						<tr>
								<td>
									{control eveditForm}
								</td>
								<td>
										<img class="closeForm" src="{$basePath}/design/admin/delete.gif" alt="close" title="close">
								</td>
						</tr>
				</table>
		{elseif $proc === 2}
				<table class="formAdmin">
						<tr>
								<td id="tdMiddle">
										Really delete event <strong>{$item}</strong>?
								</td>
								<td>
								{control deleteForm}
								</td>
								<td>
										<img class="closeForm" src="{$basePath}/design/admin/delete.gif" alt="close" title="close">
								</td>
						</tr>
				</table>
		{elseif $proc === 3}
				<table class="formAdmin">
						<tr>
								<td>
									{snippet insertform}
										{control evinsertForm}
									{/snippet}
								</td>
								<td>
										<img class="closeForm" src="{$basePath}/design/admin/delete.gif" alt="close" title="close">
								</td>
						</tr>
				</table>
		{elseif $proc === 4}
				<table class="formAdmin">
						<tr>
								<td>
								{control activeForm}
								</td>
								<td>
										<img class="closeForm" src="{$basePath}/design/admin/delete.gif" alt="close" title="close">
								</td>
						</tr>
				</table>
		{elseif $proc === 5}
			{form priceForm}
				<table class="formAdmin prices">
						<tr>
								<td>
									<h3>{$item}</h3>
								</td>
								<td>									
								</td>
								<td>
										<img class="closeForm" src="{$basePath}/design/admin/delete.gif" alt="close" title="close">
								</td>
						</tr>
						<tr>
								<td>
									<h3>End user</h3>
								</td>
								<td>									
								</td>
								<td>
								</td>
						</tr>
						<tr>
								<td>
									Standard pass
								</td>
								<td class="tdPrice">
									{input price1}
								</td>
								<td>
								</td>
						</tr>
						<tr>
								<td>
									Early bird pass
								</td>
								<td class="tdPrice">
									{input price2}
								</td>
								<td>
								</td>
						</tr>
						<tr>
								<td>
									<h3>Solution provider/Consultant</h3>
								</td>
								<td>
								</td>
								<td>
								</td>
						</tr>
						<tr>
								<td>
									Standard pass
								</td>
								<td class="tdPrice">
									{input price3}
								</td>
								<td>
								</td>
						</tr>
						<tr>
								<td>
									Early bird pass
								</td>
								<td class="tdPrice">
									{input price4}
								</td>
								<td>
								</td>
						</tr>
						<tr>
								<td>
									Conference Material	
								</td>
								<td class="tdPrice">
									{input price5}
								</td>
								<td>
								</td>
						</tr>
						<tr>
								<td>
									{input send}	
								</td>
								<td>									
								</td>
								<td>
								</td>
						</tr>
				</table>
			{/form}
		{/if}
			{snippet tableEvent}
				<div id="pagerEvent"></div>
				<table class="tablesorter table table-striped" id="event">
						<thead>
							<tr><th class="td40">id</th><th>event</th><th class="td100">start</th><th class="td60">days</th><th class="td240">place</th><th class="td80">activity</th><th class="tdIcon">edit</th><th class="tdIcon">price</th><th class="tdIcon">del</th></tr>
						</thead>
						<tbody>
								{foreach $events as $e}
										{if $e['active'] == 1}
												{var $activity = 'active'}
										{elseif $e['event'] == 0}
												{var $activity = 'no'}
										{/if}											
										<tr class="itemEvent">
											<td><strong>{$e['id']}</strong></td>
											<td><strong>{$e['event']}</strong></td>
											<td>{$e['start']|date: 'j. n. Y'}</td>
											<td>{$e['days']}</td><td>{$e['place']}</td>
											<td><a n:href="Event:default proc=>4, eventid=>$e['id']" title="active">{$activity}</a></td>
											<td><a href="{plink 'Event:default' eventid=>$e['id'], proc=>1}" title="editovat"><img src="{$basePath}/design/tuzka.gif" alt="editovat" title="editovat"></a></td>
											<td><a href="{plink 'Event:default' eventid=>$e['id'], proc=>5}" title="price"><img src="{$basePath}/design/icon_money.gif" alt="price" title="price"></a></td>
											<td><a href="{plink 'Event:default' eventid=>$e['id'], proc=>2}" title="delete"><img src="{$basePath}/design/delete.gif" alt="delete" title="delete"></a></td></tr>
								{/foreach}
						</tbody>
				</table>
				<script>
						$(document).ready(function ()
								{
										$("#event").tablesorter();
								}
						);
				</script>
				<script>
						// jquery.pagination setting
						$(document).ready(function () {
								$.pagMag.startPagination(
										perPage = 20, // items per page
										reload = 1, // 0 by default (the value of 1 will keeps the actual page even after reload, but the cookies.js module is necessary for it)
										item = 'itemEvent', // corresponds to the paginated items class
										pager = 'pagerEvent' // corresponds to the identifier of one´s own pager
								);
						});
				</script>
			{/snippet}
    {*control help section=>'event'*}
{else}
    <div class="alert alert-danger">
				No access.<br>
				<a href="{plink 'Sign:in'}" title="sign in">Sign in</a>
		</div>
{/if}
{block scripts}
{include parent}
	<script src="{$basePath}/js/jquery.tablesorter.js"></script>
	<script>
		$(document).ready(function ()
			{
				$("#event").tablesorter();
			}
		);
	</script>
	<script src="{$basePath}/js/jquery.pagination1.0.5.js"></script>
	<script>
			// jquery.pagination setting
			$(document).ready(function () {
					$.pagMag.startPagination(
							perPage = 20, // items per page
							reload = 1, // 0 by default (the value of 1 will keeps the actual page even after reload, but the cookies.js module is necessary for it)
							item = 'itemEvent', // corresponds to the paginated items class
							pager = 'pagerEvent' // corresponds to the identifier of one´s own pager
					);
			});
	</script>
	<script>
		CKEDITOR.replace( 'info' );
	</script>
{/block}

{block head}
	<link rel="stylesheet" media="screen,projection" type="text/css" href="{$basePath}/css/tablesorter.css" />
	<link rel="stylesheet" media="screen,projection" type="text/css" href="{$basePath}/css/pagination.css" />
	<link rel="stylesheet" media="screen,projection" type="text/css" href="{$basePath}/css/ui-lightness/jquery-ui-1.10.1.custom.min.css" />
{/block}
