.wrapper{
    margin-top: 45px;
}
.form-signin{
  max-width: 420px;
  padding: 30px 38px 66px;
  margin: 0 auto;
  border: 1px solid #cccccc;
}
.input-group{
    height: 45px;
    margin-bottom: 15px;
    border-radius: 0px;
    color: #000;
}
.form-control{
    height: 45px;
    color: #000;
}
.input-group:hover span i{
    color: #8fbe21;
}
.btn-block{
    border-radius: 0px;
    margin-top: 25px;
    /*background: #60B99A;*/
    border: none;
}
.btn-block:hover{
    background: #8fbe21 !important;
}
.bol{
    position: relative;
    margin-top: -40px;
    color: #60B99A;
}