body{ 
	background: #f5f5f5;
}

#navbar-second li a:hover{
	background-color: #fafafa;
}

#navbar-second li.active a{
	background: #fafafa;
	border-bottom: solid 1px #8FBE21;
	box-shadow: none;
}

.page-title{
	padding: 0 15px;
	font-size: 23px;
	margin-top: 20px;
}

.footer{padding: 0 15px;}
