{block content}
{if $user->loggedIn}
    <h1>Administrace</h1>
    <div class="alert alert-success">
        <strong>User:</strong> {$user->getIdentity()->username}, <a n:href="Sign:out">Sign out</a>
    </div>
    {snippet flashesAdmin}
        {foreach $flashes as $flash}
            <div class="flash alert alert-danger {$flash->type}">{$flash->message}</div>
        {/foreach}
    {/snippet}
    {control menuadmin}
    <h2 n:block=title>User account</h2>
		<a n:href="Account:default proc=>3"><button class="btn-sm btn-success">add user</button></a>
		<div class="spacer"></div>
		{if $proc === 1}
				<table class="formAdmin">
						<tr>
								<td>
								{snippet editform}
									{control acceditForm}
								{/snippet}
								</td>
								<td>
										<img class="closeForm" src="{$basePath}/design/admin/delete.gif" alt="zavřít" title="zavřít">
								</td>
						</tr>
				</table>
		{elseif $proc === 2}
				<table class="formAdmin">
						<tr>
								<td id="tdMiddle">
										Really delete user <strong>{$name}</strong>
								</td>
								<td>
								{control accdeleteForm}
								</td>
								<td>
										<img class="closeForm" src="{$basePath}/design/admin/delete.gif" alt="close" title="close">
								</td>
						</tr>
				</table>
						{elseif $proc === 3}
				<table class="formAdmin">
						<tr>
								<td>
									{snippet insertform}
										{control accinsertForm}
									{/snippet}
								</td>
								<td>
										<img class="closeForm" src="{$basePath}/design/admin/delete.gif" alt="close" title="close">
								</td>
						</tr>
				</table>
						{elseif $proc === 4}
				<table class="formAdmin">
						<tr>
								<td>
								{control accactiveForm}
								</td>
								<td>
										<img class="closeForm" src="{$basePath}/design/admin/delete.gif" alt="zavřít" title="zavřít">
								</td>
						</tr>
				</table>
		{/if}
    {snippet tableUsers}
        <table class="table table-striped">
        <tr><th>user</th><th>role</th><th>activity</th><th>edit</th><th>delete</th></tr>
        {if $account !== null}
            {foreach $account as $a}
                {if $a[4] === 1}
                    {var $activity = 'active'}
                {elseif $a[4] === 0}
                     {var $activity = 'no'}
                {/if}
                <tr><td>{$a[2]}</td><td>{$role[$a[1]]}</td><td><a n:href="Account:default proc=>4, userid=>$a[0]" title="activity">{$activity}</a></td><td><a n:href="Account:default proc=>1, userid=>$a[0]" title="edit">edit</a></td><td><a n:href="Account:default proc=>2, userid=>$a[0]" title="delete">delete</a></td></tr>
            {/foreach}
        {/if}
    </table>
    {/snippet}
    {control help section=>'account'}
{else}
    <div class="alert alert-danger">
				No access.<br>
				<a href="{plink 'Sign:in'}" title="sign in">Sign in</a>
		</div>
{/if}
