{block content}
{snippet flashesAdmin}
    {if $flashes != null}
        {foreach $flashes as $flash}
            <div class="flash alert alert-danger {$flash->type}">{$flash->message}</div>
        {/foreach}
    {/if}
{/snippet}
<div class="login">
    <h1>Přihlášení</h1>
    {control signInForm}
</div>
