body{font-size: 12px; } p{margin: 0px; padding: 0px;}

table.border {
	border-collapse: collapse;
	margin: 0 auto;
	font-size: 12pt;
}

table.border, .border th, .border td {
	border: 1px solid black;
}