<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" media="screen" href="{$basePath}/assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" media="screen" href="{$basePath}/css/admin.css">
        {block head}{/block}
        <title></title> {*$title|stripHtml*}
    </head>
    <body>
				<div class="container">
						{include content}
				</div>
        {block scripts}
            <script type="text/javascript" src="{$basePath}/js/jquery1.11.1.js"></script>
            <script type="text/javascript" src="{$basePath}/js/jquery-ui-1.10.1.custom.min.js"></script>
            <script type="text/javascript" src="{$basePath}/assets/netteForms.js"></script>
            <script type="text/javascript" src="{$basePath}/assets/nette.ajax/nette.ajax.js"></script>
            <script type="text/javascript" src="{$basePath}/js/initajax.js"></script>
						<script type="text/javascript" src="{$basePath}/js/cookies.js"></script>
            <script type="text/javascript" src="{$basePath}/assets/bootstrap/js/bootstrap.min.js"></script>
            <script type="text/javascript" src="{$basePath}/js/jquery.admin.js"></script>
            <script type="text/javascript" src="{$basePath}/js/jquery.confirm.js"></script>
            <script type="text/javascript" src="{$basePath}/ckeditor/ckeditor.js"></script>
						<script type="text/javascript">
                $(function() {
                    $( "#datepicker" ).datepicker({ firstDay: 1, dateFormat: "yy-mm-dd" });
                });
            </script>
						{if $presenter->name === 'Admin:Event'}
								<script type="text/javascript" src="{$basePath}/ckeditor/ckeditor.js"></script>            
						{/if}
        {/block}
    </body>
</html>
