{if $menuadminArr!=null}
	<ul class="menuadmin">
			{foreach $menuadminArr as $p => $it}
					<li><a href="{plink $p.':default'}"><button class="btn btn-info">{$it}</button></a></li>
			{/foreach}
			{*<li><button class="btn btn-info help">Nápověda</button></li>*}
	</ul>
{/if}
