{block content}
    <div class="ticket">
        <img class="logo" src="{$basePath}/design/logo.png" alt="logo">
        <h2>Order ticket</h2>
        <h3>{$event['event']}</h3>
        <h4>{$event['start']|date:'j. n. Y'} - {$event['end']|date:'j. n. Y'}</h4>
        <h4>{$event['place']}</h4>
        {if $getorder != null}
            <table class="customer">
                <tr><td><strong>Order no.:</strong></td><td>{$getorder['ordernum']}</td></tr>
                <tr><td><strong>Date order:</strong></td><td>{$getorder['dateorder']|date:'j. n. Y h:i:s'}</td></tr>
                <tr><td><strong>Name:</strong></td><td>{$getorder['title']} {$getorder['name']} {$getorder['surname']}</td></tr>
                <tr><td><strong>Company name:</strong></td><td>{$getorder['companyname']}</td></tr>
                <tr><td><strong>Job title:</strong></td><td>{$getorder['jobtitle']}</td></tr>
                <tr><td><strong>E-mail:</strong></td><td>{$getorder['email']}</td></tr>
                <tr><td><strong>Phone:</strong></td><td>{$getorder['phone']}</td></tr>
                <tr><td><strong>Billing address:</strong></td><td>{$getorder['address']}</td></tr>
                <tr><td><strong>City:</strong></td><td>{$getorder['city']}</td></tr>
                <tr><td><strong>Post code:</strong></td><td>{$getorder['postcode']}</td></tr>
                <tr><td><strong>Country:</strong></td><td>{$getorder['country']}</td></tr>
                <tr><td><strong>VAT:</strong></td><td>{$getorder['vat']}</td></tr>
                <tr><td><strong>Payment method:</strong></td><td>{$getorder['paymethod']}</td></tr>
            </table>
        {/if}
        {if $getorder['prices'] != null}
            <table class="prices">
                <tr><th>Category/pass</th><th>Price</th><th>Person</th></tr>
                {foreach $getorder['prices'] as $g}
                    <tr><td><strong>{$g['category']}/{$g['pass']}</strong></td><td>&euro; {$g['price']},-</td><td class="person">{$g['person']}</td></tr>
                {/foreach}
                <tr><td><strong>Total:</strong></td><td><strong>&euro; {$getorder['total']},-</strong></td><td></td></tr>
                <tr><td colspan="3" class="person"><a href="http://ibcngroup.com"><button class="btn btn-danger">OK</button></td></tr>
            </table>
        {/if}
        <p>Thank you for registration. We will be sending you invoice shortly.<br><br>IBCN Group</p>        
    </div>
{/block}
{block scripts}
{include parent}
{/block}

