{block content}
{if $user->loggedIn}
    <h1>Administration</h1>
    <div class="alert alert-success">
        <strong>User:</strong> {$user->getIdentity()->username}, <a n:href="Sign:out">Sign out</a>
    </div>
    {snippet flashesAdmin}
        {foreach $flashes as $flash}
            <div class="flash alert alert-danger {$flash->type}">{$flash->message}</div>
        {/foreach}
    {/snippet}
    {control menuadmin}
    <h2 n:block=title>Orders</h2>
		{if $proc === 1}
			<table class="formAdmin">
					<tr>
							<td>
									{if $ordercomplete != null}
                    <table class="customer">
												<tr><td colspan="2"><h3>{$ordercomplete['event']}</h3></td></tr>
                        <tr><td><strong>Order no.:</strong></td><td>{$ordercomplete['ordernum']}</td></tr>
                        <tr><td><strong>Date order:</strong></td><td>{$ordercomplete['dateorder']|date:'j. n. Y H:i:s'}</td></tr>
                        <tr><td><strong>Name:</strong></td><td>{$ordercomplete['surname']} {$ordercomplete['name']}</td></tr>
                        <tr><td><strong>Company name:</strong></td><td>{$ordercomplete['companyname']}</td></tr>
                        <tr><td><strong>Job title:</strong></td><td>{$ordercomplete['jobtitle']}</td></tr>
                        <tr><td><strong>E-mail:</strong></td><td><a href="mailto:{$ordercomplete['email']}" title="email">{$ordercomplete['email']}</a></td></tr>
                        <tr><td><strong>Phone:</strong></td><td>{$ordercomplete['phone']}</td></tr>
                        <tr><td><strong>Billing address:</strong></td><td>{$ordercomplete['address']}</td></tr>
                        <tr><td><strong>City:</strong></td><td>{$ordercomplete['city']}</td></tr>
                        <tr><td><strong>Post code:</strong></td><td>{$ordercomplete['postcode']}</td></tr>
                        <tr><td><strong>Country:</strong></td><td>{$ordercomplete['country']}</td></tr>
                        <tr><td><strong>VAT:</strong></td><td>{$ordercomplete['vat']}</td></tr>
                        <tr><td><strong>Payment method:</strong></td><td>{$ordercomplete['paymethod']}</td></tr>
                        {if $ordercomplete['resultcode'] != null}
                            <tr><td><strong>Result code:</strong></td><td>{$ordercomplete['resultcode']}</td></tr>
                            <tr><td><strong>Payment status:</strong></td><td>{$ordercomplete['paymentstatus']}</td></tr>
                            <tr><td><strong>payID:</strong></td><td>{$ordercomplete['payid']}</td></tr>
                        {/if}
                    </table>
										{if $ordercomplete['prices'] != null}
											<table class="prices">
													<tr><th>Category/pass</th><th>Price</th><th>Person</th></tr>
													{foreach $ordercomplete['prices'] as $g}
															<tr><td><strong>{$g['category']}/{$g['pass']}</strong></td><td>&euro; {$g['price']},-</td><td class="person">{$g['person']}</td></tr>
													{/foreach}
													<tr><td><strong>Total:</strong></td><td><strong>&euro; {$ordercomplete['total']},-</strong></td><td></td></tr>
											</table>
										{/if}
									{/if}
							</td>
							<td>
									<img class="closeForm" src="{$basePath}/design/admin/delete.gif" alt="zavřít" title="zavřít">
							</td>
					</tr>
			</table>
		{/if}
			{snippet tableOrder}
				<div id="pagerOrder"></div>
				<table class="tablesorter table table-striped" id="order">
						<thead>
                                                    <tr><th class="td60">num</th><th class="td100">Date</th><th>Event</th><th class="td200">Surname & name</th><th class="td100">Phone</th><th class="td200">email</th><th class="td60">pay</th><th class="tdIcon">det</th></tr>
						</thead>
						<tbody>
							{if $orders != null}	
								{foreach $orders as $o}										
										<tr class="itemOrder">
											<td>{$o['ordernum']}</td>
											<td>{$o['dateorder']|date:'Y-m-d'}</td>
											<td>{$o['event']}</td>
											<td>{$o['customer']['surname']} {$o['customer']['name']}</td>
											<td>{$o['customer']['phone']}</td>
											<td><a href="mailto:{$o['customer']['email']}" title="email">{$o['customer']['email']}</a></td>
                                                                                        <td>{$o['customer']['paymethod']}</td>
											<td><a href="{plink 'Order:default' orderid=>$o['orderid'], proc=>1}" title="detail"><img src="{$basePath}/design/tuzka.gif" alt="detail" title="detail"></a></td>
										</tr>
								{/foreach}
							{/if}
						</tbody>
				</table>
				<script>
						$(document).ready(function ()
								{
										$("#order").tablesorter();
								}
						);
				</script>
				<script>
						// jquery.pagination setting
						$(document).ready(function () {
								$.pagMag.startPagination(
										perPage = 20, // items per page
										reload = 1, // 0 by default (the value of 1 will keeps the actual page even after reload, but the cookies.js module is necessary for it)
										item = 'itemOrder', // corresponds to the paginated items class
										pager = 'pagerOrder' // corresponds to the identifier of one´s own pager
								);
						});
				</script>
			{/snippet}
    {*control help section=>'event'*}
{else}
    <div class="alert alert-danger">
				No access.<br>
				<a href="{plink 'Sign:in'}" title="sign in">Sign in</a>
		</div>
{/if}
{block scripts}
{include parent}
	<script src="{$basePath}/js/jquery.tablesorter.js"></script>
	<script>
		$(document).ready(function ()
			{
				$("#order").tablesorter();
			}
		);
	</script>
	<script src="{$basePath}/js/jquery.pagination1.0.5.js"></script>
	<script>
			// jquery.pagination setting
			$(document).ready(function () {
					$.pagMag.startPagination(
							perPage = 20, // items per page
							reload = 1, // 0 by default (the value of 1 will keeps the actual page even after reload, but the cookies.js module is necessary for it)
							item = 'itemOrder', // corresponds to the paginated items class
							pager = 'pagerOrder' // corresponds to the identifier of one´s own pager
					);
			});
	</script>
	<script>
		CKEDITOR.replace( 'info' );
	</script>
{/block}

{block head}
	<link rel="stylesheet" media="screen,projection" type="text/css" href="{$basePath}/css/tablesorter.css" />
	<link rel="stylesheet" media="screen,projection" type="text/css" href="{$basePath}/css/pagination.css" />
	<link rel="stylesheet" media="screen,projection" type="text/css" href="{$basePath}/css/ui-lightness/jquery-ui-1.10.1.custom.min.css" />
{/block}
