/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6.3.2017, 20:57:08
    Author     : Lenovo
*/
body {
    padding: 15px;
    background: #f5f5f5;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px;
}

h1, h2, h3, h4 {
    color: #000;
    font-weight: bold;
}

.error {
	list-style-type: none;
	color: red;
}

form table td {
	padding: 5px;
}

.spacer {
    float: left;
    width: 100%;
    height: 20px;
}

.formAdmin {
    background: #fff;
		margin-bottom: 20px;
}

.formAdmin td, .formAdminSec td {
    vertical-align: top;
    padding: 10px;
}

.formAdmin ul {
   list-style-type: none;
}

.formAdmin li {
   /*display: inline;*/
   margin-right: 10px;
}

.liSlider {
   padding-bottom: 5px !important; 
}

.closeForm, .closeRef {
    margin-top: 5px;
    opacity: 0.8;
}

.closeForm:hover, .closeRef:hover {
    opacity: 1.0;
}

#tdMiddle {
    vertical-align: middle;
}

.required label { 
    color: maroon; 
}

.menuadmin {
   list-style-type: none; 
   margin-left: -40px;
}

.menuadmin li {
    display: inline;
}

.menuadmin li button {
    margin-bottom: 5px;
}

.ui-sortable {
    list-style-type: none;
}

.ui-sortable li {
    margin: 5px;
}

.ui-sortable li td {
    float: left;
    width: 80px;
    height: 23px;
    padding: 2px 0 0 10px;
    overflow: hidden;
    background: #fff;
}

.us-td-short {
    width: 60px !important;
    background: #efa63e !important;
}

.us-td-short2 {
    width: 60px !important;
    background: #fff !important;
}

.us-td-middle {
    width: 120px !important;
    background: #efa63e !important;
}

.us-td-middle2 {
    width: 120px !important;
    background: #fff !important;
}

.us-td-long {
    width: 220px !important;
    background: #efa63e !important;
}

.us-td-long2 {
    width: 265px !important;
    background: #efa63e !important;
}

.us-td-long3 {
    width: 265px !important;
    background: #fff !important;
}

.us-td-long4 {
    width: 365px !important;
    height: 140px !important; 
    padding: 15px !important;
    background: #efa63e !important;
    overflow: hidden;
}

.us-td-long5 {
    width: 120px !important;
    height: 140px !important;
    padding: 15px !important;
    background: #fff !important;
}


.us-td-long6 {
    width: 400px !important;
    background: #fff !important;
}

.us-td-long7 {
    width: 365px !important;
    background: #efa63e !important;
    overflow: hidden;
}

.us-td-long8 {
    width: 303px !important;
    height: 365px !important; 
    padding: 15px !important;
    background: #efa63e !important;
    overflow: hidden;
}

.specOff {
    width:240px !important;
    height:240px !important;
    padding:30px !important;
    font-weight:bold;
		background: #cf112a !important;
}

.specOff h1 {
		font:1.6em "Arial", sans-serif;
    margin:0 0 10px 0;	
		font-weight:bold;
		    color:#fff !important;
    text-shadow: 2px 2px #535353;
}



.specOff h2 {
    font:1.4em "Arial", sans-serif; 
    margin:0 0 7px 0;
		font-weight:bold;
		color:#fff !important;
    text-shadow: 2px 2px #535353;
}

.specOff h3 {
    font:1.2em "Arial", sans-serif; 
    margin:0 0 4px 0;
		font-weight:bold;
		color:#fff !important;
    text-shadow: 2px 2px #535353;
}

.specOff h4 {
    font:1.1em "Arial", sans-serif; 
    margin:0 0 2px 0; 
		font-weight:bold;
		color:#fff !important;
    text-shadow: 2px 2px #535353;
}

.valueSec {
   list-style-type: none;
}

.long250 {
	width: 250px;
}

.long400 {
	width: 400px;
}

.coverEditNav {
    width: 150px;
    height: auto;
    padding: 0 10px 10px 10px;
    background: #fff;
    border-radius: 5px;
}

.editNav {
	margin-bottom: 0px !important;
}

.editNav td {
	padding-right:5px;
}

.editNav button {
	width: 40px;
}

.thumbImg {
    width: 200px;
}

.mLeft {
    margin: 0 0 0 82px;
}

.leftSpace {
    margin-left: 45px !important;
}

.subMenu {
	margin-bottom: 15px;
}

.subMenu td {
	padding:3px;
}

#helpContent {
    position:absolute;
    width:600px;
    height:auto;
    padding:10px;
    background:#fff;
    margin-bottom: 15px;
    top:0;
    left:-630px;
}

.closeHelp {
    position:absolute;
    top:10px;
    right:10px;
}

#list_images li {
    display:inline !important;
}

.right {
	float:right;
}

#frm-menucontentForm-keywords, #frm-menucontentForm-description, #frm-menucontentForm-title {
    width: 450px !important;
}

#frm-newsinsertForm-title {
    width: 450px !important;
}

#frm-newseditForm-title, #frm-newseditForm-perex, #frm-newseditForm-article {
    width: 450px !important;
}

.tdBanner {
    width: 120px !important; 
    height: 120px !important; 
    padding: 5px;
}

.tdBanner h1 {
	font-size: 20px;
	font-weight: bold;
	margin-right: 10px;
}

.tdBanner h2 {
	font-size: 18px;
	font-weight: bold;
	margin-right: 10px;
}

.tdBanner h3 {
	font-size: 16px;
	font-weight: bold;
	margin-right: 10px;
}

.disnone {
	color: #f5f5f5;
}

.choice table {
	margin-bottom: 15px;
}

.choice table td {
	border: 1px solid #ccc;
}

.tbChoice1 {
	 background: #fff;
}

.tbChoice2 {
	 background: #efa63e;
}

.pdfThumb {
	height: 100px !important;
}

.archivcont {
	width: 265px;
	height: 200px;
}

.login {
    position: relative;
    margin: 0 auto;
    margin-top: 50px;
    width: 350px;
    height: auto;
    padding: 15px;
    border: 1px solid #858585;
}

.login h1 {
   margin-top: 5px; 
}

.log {
    color: #000;
}

.td40 {
    width: 40px;
}

.td60, .tdIcon {
    width: 60px;
}

.td80 {
    width: 80px;
}

.td100 {
    width: 100px;
}

.td120 {
    width: 120px;
}

.td140 {
    width: 140px;
}

.td160 {
    width: 160px;
}

.td180 {
    width: 180px;
}

.td200 {
    width: 200px;
}

.td220 {
    width: 220px;
}

.td240 {
    width: 240px;
}

.td260 {
    width: 260px;
}

.td280 {
    width: 280px;
}

.td300 {
    width: 300px;
}

.td320 {
    width: 320px;
}

.td340 {
    width: 340px !important;
}

.td440 {
    width: 440px !important;
}

.tdMin {
    min-width: 240px !important;
}

#datepicker {
	width:80px;
}

.prices h2, .prices h3 {
	margin: 0;
}

.tdPrice input {
	width: 50px;
}


.customer, .prices {
    table-layout: auto;
    margin-bottom: 20px;
}

.customer td, .prices th {
    padding: 0 5px;
}

.customer td {
    padding: 2px 5px;
}

.prices th {
    background: #FFEFC1;
}

.person {
    text-align: center;
}