/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6.3.2017, 20:57:08
    Author     : Lenovo
*/
body {
    padding: 15px;
    background: #f5f5f5;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px;
}

h1, h2, h3, h4 {
    color: #000;
    font-weight: bold;
}

.error {
	list-style-type: none;
	color: red;
}

.main {
	position:relative;
	width: 1000px;
	margin: 0 auto;
}

.logo {
    float:right;
    width:200px;
}

@media screen and (max-width:1000px) {
    .main {
        width: 92%;
        margin-left: 4%;
    }
}

form table th, form table td {
	padding: 5px 10px !important;
}

.spacer {
    float: left;
    width: 100%;
    height: 20px;
}

#frm-orderForm table th {
	text-align: left;
	font-weight: bold !important;
}

#frm-orderForm {
	background: #fff;
	border: 1px solid #858585;
	padding: 15px;
	width: auto !important;
}

#frm-orderForm table tr {
	border-bottom: 1px solid #ccc;
}

.personal {
    table-layout: auto;
    margin-top: 20px;
}

.personal tr {
    border: none !important;
}

.personal input {
    width: 300px;
}

.customer, .prices {
    table-layout: auto;
    margin-bottom: 20px;
}

.customer td, .prices td, .prices th {
    padding: 0 5px;
}

.prices th {
    background: #FFEFC1;
}

.ticket {
    float:left;
    width: auto;
    height: auto;
    padding: 10px;
    background: #fff;
    border: 1px solid #ccc;
}

.person {
    text-align: center;
}

.terms, .privacy {
	position: absolute;
	top: 300px;
	width: 90%;
	height: auto;
	margin-left: 4%;
	background: #a8c8d8;
	border: 1px solid #858585;
	padding: 10px;
}

.privacy {
    height: 600px !important;
    overflow-y: auto;
}

.closeTerm, .closePriv {
	float:right;
}

.openterm, .openpriv {
	text-decoration: underline;
	color: blue;
	cursor: pointer;
}

.radio {
    position: absolute;
    margin: 0;
    padding: 0;
}

