/* tables */
table.tablesorter {
	table-layout: fixed;
	border-collapse: collapse;
	/*font-family:arial;*/
	background-color: #fff;
	margin:10px 0pt 15px;
	/*font-size: 9pt;*/
	width: 100%;
	text-align: left;
}
table.tablesorter caption {
  font-size:12px; 
  font-weight:bold; 
  color:#41adc9;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: khaki;
	border: 1px solid gold;
	color: #000;	
	font-weight: normal;
	/*font-size: 9pt;*/
	padding: 4px;
}
table.tablesorter thead tr .header {
	background-image: url(./images/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	/*background-color: #fff;*/
	vertical-align: top;
}
/*
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
*/
table.tablesorter thead tr .headerSortUp {
	background-image: url(./images/asc.gif);
	color: #000;
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(./images/desc.gif);
	color: #000;
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
	background-color: gold;
	border: 1px solid goldenrod;
	font-weight: bold;
}
